@import url(variables.css);

/****************** Creacion de Personaje *************************/
/*  */
.section__contenedorcrearPersonaje{
    display: flex;
    padding: 0.5rem;
    gap: 1.5rem;
    height: auto;
}
/*  */
.section__contenedorcrearPersonaje h2{
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
}
/*  */
.section__contenedorcrearPersonaje h3{
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
}   
/*  */
.div__estadisticas{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
/*  */
#titulocrearPersonaje{
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    padding: 0.5rem;
    font-size: 1.5rem;
    background: var(--color-5);
    box-shadow: 0 0 10px var(--color-1);
    border-radius: 12px;
}
/*  */
#cp-nombre{
    font-family: "Poppins-Medium";
    font-size: 1rem;
}
/*  */
.div__contenedorDatospj{
    background-color: var(--color-5);
    box-shadow: 0 0 10px var(--color-1);
    padding: 1rem;
    border-radius: 12px;
    width: auto;
    height: auto;
    display: flex;
    gap: 1rem;
}
/*  */
.div__contenedorDatospj select{
    font-family: "Poppins-Medium";
    font-size: 1rem;
}
/*  */
.div__contenedorIzquierdo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
}
/*  */
.div__raza, .div__clase, .div__armadura, .div__armas{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
/*  */
.div__habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}
/*  */
.div__accesorios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}
/*  */
.div__contenedorDerecho{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/*  */
.div__contenedorDerecho input{
    font-family: "Poppins-Medium";
    font-size: 1rem;
    text-align: center;
}
/*  */
.div__contEstats{
    display: flex;
    gap: 1.5rem;
}
/*  */
.div__estadisticas label{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    padding-inline: 1rem;
}
/*  */
#lanzarDados {
    background: var(--color-8);
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 12px;
}
/*  */
#crearPersonaje {
    background: var(--color-8);
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 12px;
}
/*  */
.section__crearPersonaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    gap: 1rem;
    padding-inline: 1rem;
}
.section__crearPersonaje label{
    color: var(--color-1);
    font-family: "CormorantGaramond-Regular";
    font-size: 1.5rem;
    text-align: center;
}
/*  */
.div__datosBasicos{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
/*  */
.section__descripcion{
    background-color: var(--color-5);
    box-shadow: 0 0 10px var(--color-1);
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 2rem;
}
/*  */
.div__imagenCrearPersonaje img{
    width: 460px;
    height: auto;
}
/*  */
.section__descripcion h2{
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
    text-align: center;
}
/*  */
.section__descripcion ul{
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
}
/*  */
.section__descripcion p, li{
    font-family: "CormorantGaramond-Regular";
    font-size: 1.4rem;
    color: var(--color-1);
}
/*  */
.div__botonCrear{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Efectos visuales */
/*  */
.card__personaje:hover {
    background-color: var(--color-5); 
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--color-1);
    cursor: pointer;
  }
/*************************** Descripcion Raza *******************************/
/*  */
.div__imagenPersonaje img{
    width: 160px;
    height: auto;
}
/*  */
.div__descripccionRaza{
    display: flex;
    flex-direction: column;
}
/*  */
.div__descripccionRaza ul{
    display: flex;
    flex-direction: column;
}
/*************************** Lanzamiento de dados *******************************/
/*  */
.div_lanzamientoDados {
    background-color: var(--color-9);
    color: var(--color-3);
    border: 2px solid var(--color-3);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 4px 12px var(--color-1);
}
/*  */
.div_lanzamientoDados h4 {
    font-family: "MedievalSharp-Regular";
    color: var(--color-1);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
/*  */
.resultados-dados ul {
    font-family: "CormorantGaramond-Regular";
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
    max-height: 235px;
    overflow-y: auto;
    border: 1px solid var(--color-3);
    border-radius: 0.5rem;
    background-color: var(--color-5);
}
/*  */
.resultados-dados li {
    font-family:"CormorantGaramond-Regular";
    padding: 0.2rem 2rem;
    border-bottom: 1px solid var(--color-3);
    font-size: 1.8rem;
}
/*  */
.resultados-dados li:last-child {
    border-bottom: none;
}
/*  */
.div_lanzamientoDados button {
    background: var(--color-8);
    color: var(--color-1);
    font-family: "MedievalSharp-Regular";
    font-size: 1.4rem;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem auto;
    display: block;
}
/*  */
.div_lanzamientoDados button:disabled {
    background-color: var(--color-1);
    color: var(--color-3);
    cursor: not-allowed;
}
/*  */
.asignador-estadisticas {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
/*  */
.asignador-estadisticas p {
    font-family: "CormorantGaramond-Regular";
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-1);
}
/*  */
.asignador-estadisticas select {
    font-family: "CormorantGaramond-Regular";
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-3);
    background-color: var(--color-10);
    color: var(--color-1);
    width: 80%;
    max-width: 300px;
    text-align: center;
}
/*  */
.asignador-estadisticas button {
    margin-top: 1rem;
}
/********* Estilos CSS (mediaQueris) para  "Creacion de PJ" *****************/
/* Smartphones  */
@media (max-width: 599px) {
/* Creacion de PJ */
/*  */
.section__contenedorcrearPersonaje {
    flex-direction: column;
    padding: 1rem;
}
/*  */
.div__contenedorDatospj {
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*  */
.div__estadisticas{
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*  */
.div__estadisticas label{
    display: flex;
    gap: 0.5rem;
}
/*  */
.div__contenedorIzquierdo,
.div__contenedorDerecho {
    width: 100%;
    align-items: center;
}
/*  */
.div__contenedorDerecho label {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*  */
.section__crearPersonaje {
    width: 100%;
    padding: 0.5rem;
}
/*  */
.div__imagenCrearPersonaje img {
    width: 100%;
    max-width: 300px;
}
/*  */
#crearPersonaje {
    width: 100%;
}
/*  */
.div__contEstats {
    flex-direction: column;
    gap: 0.5rem;
}
}
